<ion-header>
  <ion-navbar >
    <ion-buttons start>
      <button ion-button></button>
    </ion-buttons>
    <ion-title>
      Red Groups
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  
  <ion-scroll scrollX="true">
    <ion-spinner name="dots" style= "margin-left:35.5vw;" *ngIf="RGroups == 0"></ion-spinner>
    <ion-row nowrap class= "scroller" *ngIf="RGroups != 0">
      <button ion-button color= "danger" *ngFor= "let BadG of RGroups" (click)= "onClick(BadG.g_id)" class= "BadButton">
          G{{BadG.g_id}}
      </button>
    </ion-row>
  </ion-scroll>

<p class= "para" style="font-size:160%;" align="center">Press On a Team!</p>

<ion-spinner name="dots" style= "margin-left:35.5vw;" *ngIf="RWeeks == 0 && clicked"></ion-spinner>
<ion-list *ngIf="RWeekds != 0">
  <ion-item *ngFor= "let BadWeek of RWeeks">
    <div class= "Week">
      <h1>
        Week {{BadWeek.weeknum}}
      </h1>
    </div>
    <button ion-button class= "stat" color= "{{BadWeek.g_fb}}" style= "width: 8vw; border-radius: 50%;">
    </button>
  </ion-item>
</ion-list>


</ion-content>
