<ion-header>
  <ion-navbar >
    <ion-buttons start>
      <button ion-button></button>
    </ion-buttons>
    <ion-title>
      Red Groups
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  
  <ion-scroll scrollX="true">
    <ion-row nowrap class= "scroller">
      <button ion-button color= "danger" *ngFor= "let BadG of RedGroups" (click)= "onClick()" class= "BadButton">
          {{BadG}}
      </button>
    </ion-row>
  </ion-scroll>

<p class= "para" style="font-size:160%;" align="center">Press On a Team!</p>

<ion-list>
  <ion-item *ngFor= "let BadWeek of RedWeeks">
    <div class= "Week">
      <h1>
        {{BadWeek.Week}}
      </h1>
    </div>
    <button ion-button class= "stat" color= "{{BadWeek.Color}}" style= "width: 8vw; border-radius: 50%;">
    </button>
  </ion-item>
</ion-list>


</ion-content>
