page-red-groups {

ion-buttons {
	position: relative;
}
ion-scroll {
	position: relative;
	height: 15vh;
}

ion-row {
	justify-content: start;
	position: relative;
}

ion-list {
	top: 1vh;
	position: relative;
}

.Week {
	float: left;
	position: relative;
	top: 0.5vh;
	left: 17vw;
}

ion-item {
	border: 3px;
}

.stat {
	float: left;
	left: 28vw;
	height: 10vh;
	position: relative;
	width: 10vw;
}

.BadButton {
	display: block;
	border-radius: 50%;
    width: 24vw !important;  
    height : 10vh !important; 
    white-space: nowrap;
}

}
