page-home {

    #deadlines-section{
        height: 6% !important;
    }

    #deadlines-button{
        height: 100% !important;
        background-color: white !important;
        border: 2px solid #dcdcdc;
        color: black !important;
    }

    #notification-section{
        margin-top: 4% !important;
        height: 5% !important;
        width: 100% !important;
    }

    #notification{
        padding: 0 auto !important; 
        height: 100% !important;
        width: 100% !important;
        background-color: #00A8FF;
        color: white !important;
        border-radius: 5px !important;
    }

    #graph-section{
        height: 42% !important;
    }

    .legend-number{
        width: 100% !important;
        border-radius: 20px !important;
        color: black !important;
    }

    .scroll-content { //allowing no scrolling
        height:100% !important
    }

    .greendarklabel{
        background-color: #058d65;
        width: 100% !important;
        border-radius: 20px !important;
        color: white !important;
        font-size: 3vw !important;
    }

    #greendarklabel2{
        background-color: #058d65;
    }

    .greenlabel{
        background-color: #7ed321;
        width: 100% !important;
        border-radius: 20px !important;
        color: white !important;
        font-size: 3vw !important;
    }

    .yellowlabel{
        background-color: #ffcd56;
        width: 100% !important;
        border-radius: 20px !important;
        color: white !important;
        font-size: 3vw !important;
    }

    .redlabel{
        background-color: #ff6384;
        width: 100% !important;
        border-radius: 20px !important;
        color: white !important;
        font-size: 3vw !important;
    }


    h4{
        margin-bottom: 20px !important; 
    }

    h6{ 
        padding: 0px !important; 
        margin-bottom: 0px !important; 
        margin-top: 5px !important; 
    }
    
    canvas{
        width: 100% !important;
        height: auto !important;
    }
    
    .hello{
        height: 100% !important; 
    }

    .redbutton {
        width: 100% !important; 
        height: 100% !important; 
        border-radius: 15px !important; 
        background-color: #ff6384; 
    } 

    .rowbuttons{
        height: 18% !important;
    }
    
}