page-home {
    
    #myGraph{ 
        height: 50% !important; 
    }

    .scroll-content { //allowing no scrolling
        height:100% !important
    }

    ion-card-header {
        font-weight: bold;
    }

    ion-card { 
        height: 60% !important; 
    }

    ion-card-background {}
    
    canvas{
        width: 100% !important;
        height: auto !important;
    
    }
    
       .table {
        border: 1px solid red;
        display: table;
        width: 100%;
        table-layout: fixed;
       }

       .cell {
        display: table-cell;
        vertical-align: middle;
    }
    }