page-login {
    
    ion-content {
        background-color: #345065!important;
    }
    ion-input {
        border:solid 2px;
        border: 0px;
        border-radius: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
        background-color: white !important;
    }
    
    ion-item {
        background-color: #345065 !important;
    }
    
    #login-form {
        margin-top:30px;
    }
    
    #login-button {
        margin-left:17px !important;
        margin-right:15px !important;
        width: 91% !important;
        margin-top: 30px !important;
        background-color:#00A8FF !important;
        color: white !important;
        border-radius: 10px !important;
    }
    
    ion-select {
        color:black !important;
        background-color:white !important;
        border-radius: 10px !important;
    }
    
    #title {
        color: #00A8FF;
        text-align: center;
        margin-top: 15px;
    }
    
    #logo {
        display:block;
        width:auto;
        height:20%;
        position: absolute;
        bottom: 0px;
        right: 25px;
    }

}
