page-red-students {

ion-buttons {
	position: absolute;
}

ion-scroll {
	position: relative;
	height: 15vh;
}

.para {
	border-top: solid #00A8FF ;
    border-width: 5px;
    
}

ion-list {
	padding: 0px !important;
	margin-bottom: 10px !important;
  }

ion-row {
	justify-content: start;
	position: relative;
}

ion-list {
	top: 1vh;
	position: relative;
}

.Week {
	float: left;
	position: relative;
	top: 0.5vh;
}


.contribution {
	top: 0.3vh;
	left: 10vw;
	width: 20%;
	position: relative;
}


}
