page-red-students {

ion-buttons {
	position: absolute;
}

ion-scroll {
	position: relative;
	height: 15vh;
}

.para {
	border-style: solid;
    border-width: 4px;
    border-radius: 10%;
}

ion-row {
	justify-content: start;
	position: relative;
	width: 600px !important; 
}

ion-list {
	top: 1vh;
	position: relative;
}

.Week {
	float: left;
	position: relative;
	top: 0.5vh;
}

ion-item {
	border: 3px;
}

.stat {
	float: left;
	left: 7%;
	top: 1%;
	height: 10 vh;
	width: 10 vw;
	position: relative;
}

.contribution {
	top: 0.3vh;
	left: 10vw;
	width: 20%;
	position: relative;
}


}
