page-more-details {
    
    .performancebutton {
        font-size: 13px;
        height: 30px;
        width:23%;
        padding: 2px;
        margin:3px;
        color: white;
        border-radius: 5px;
    }
    
    .studentbutton {
        height: 30px;
        width: 30px;
        border-radius: 80px;
        vertical-align: middle; 
        margin-left: 5px;
    }
    
    .excellent {
        background-color:#058D65;
    }
    
    .good {
        background-color:#7ED321;
    }
    
    .average {
        background-color:#FFCD56;
    }
    
    .bad {
        background-color:#FF6384;
    }

    #cardexcellent{
        border-top: 10px solid #058D65;
    }

    #cardgood {
        border-top: 10px solid #7ED321;
    }

    #cardaverage { 
        border-top: 10px solid #FFCD56;
    }

    #cardbad {
        border-top: 10px solid #FF6384;
    }
    
    .feedbackwriting {
        color: #00A8FF; 
    }
    
    h5 {
        text-align: center;
    }

    .floating {
        display:inline-block;
    }
    
    #deletebutton { 
        width: 100% !important; 
        height: 100% !important; 
        color: white; 
        background-color: red; 
        font-size: 1em; 
        border-radius: 8px !important; 
    }
    
    ion-list {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    
    ion-item {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        
    }
    
}