page-more-details2 {
    
    .performancebutton {
        font-size: 13px;
        height: 30px;
        width:23%;
        padding: 2px;
        margin:3px;
        color: white;
        border-radius: 5px;
    }
    
    .studentbutton {
        height: 30px;
        width: 30px;
        border-radius: 80px;
        vertical-align: middle; 
        margin-left: 5px;
    }
    
    .excellent {
        background-color:#058D65;
    }
    
    .good {
        background-color:#7ED321;
    }
    
    .average {
        background-color:#FFCD56;
    }
    
    .bad {
        background-color:#FF6384;
    }
    
    h5 {
        text-align: center;
    }
    
    ion-list {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    
    ion-card {
        
    }
    
    ion-item {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        
    }
    
}