page-group { 
    .datebar {
        //float: left;
        display:inline-block;
    }
    
    #weekcontrol {
        width:100%;
        text-align: center;
    }
    
    #date {
        width: 65%;
        font-size: 15px;
    }
    
    #groupperformance {
        display:inline-block;
        width:100%
    }
    
    .performancebutton {
        font-size: 13px;
        height: 30px;
        width:20%;
        padding: 2px;
        margin:3px;
        color: white;
        border-radius: 5px;
    }
    
    .highlighted {
        border: solid 3px #00A8FF;
    }
    
    .nothighlighted {
        border: 0px;
    }
    
    .studentbutton {
        height: 30px;
        width: 30px;
        border-radius: 80px;
        vertical-align: middle; 
        margin-left: 5px;
    }
    
    ion-avatar img {
        width: 50px !important;
        height: 50px !important;
    }
    
    #commentbutton {
        border: solid 2px #00A8FF;
        font-size: 13px;
        vertical-align: middle; 
        margin-left: 10px;
        margin-top:10px;
        padding-left:3px;
        padding-right:3px;
        float:left;
    }
    
    #name {
        font-size: 16px;
    }

    
    #contribution {
        width: 70px !important;
        height: 30px !important;
        font-size: 16px !important;
        float: right !important;
        border: solid 1px grey !important;
        margin-left:10px;
        margin-right: 5px;
        font-size: 16px !important;
        padding-left: 10px !important;
        
        
    }
    
    #toggleitem{
        width: 150px !important;
        margin-left:40%;
        
    }
    
    ion-label {
        font-size: 16px;
        margin-right:0px !important;
        margin-left:0px !important;
    }
    
    ion-list {
        padding:0px 10px 0px 10px !important;
    }
    
    ion-card {
        padding-bottom: 3px;
    }
    
    ion-toggle {
        padding-left:3px !important;
        padding-top:0px !important;
        padding-bottom:0px !important;
        
    }
    
    ion-input {
        font-size:15px !important;
        border-bottom: 0.5px solid black;
    }
    
    .button1 {
        background-color:#058D65;
    }
    
    .button2 {
        background-color:#7ED321;
    }
    
    .button3 {
        background-color:#FFCD56;
    }
    
    .button4 {
        background-color:#FF6384;
    }
    

}
