page-group-list {
    
    .addbutton {
        color:#00A8FF;
        text-align:left;
        border-radius:3px 3px 3px 3px;
        font-size: 37px;
        padding: 0;
        padding-top:0px;
        padding-bottom:0px;
        height: auto;
        float:right;
        margin:0;
        vertical-align: middle;
    }
    
    .groupbutton {
        width:80% !important;
        height: auto !important;
        padding-left: 10px !important;
        margin-left: 0px !important;
        float:left;
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
    }

    .button-inner{
        justify-content: flex-start !important;
    }


    .section{
        height: 15% !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-bottom: 20px !important;
    }

    .background{
        color: white;
        font-size: 18px;
    }
    
    .excellent {
        background-color:#058D65;
    }
    
    .good {
        background-color:#7ED321;
    }
    
    .average {
        background-color:#FFCD56;
    }
    
    .bad {
        background-color:#FF6384;
    }

    .new {
        background-color: darkgrey; 
    }
    
    #descriptions {
        font-size: 13px !important;
        text-align: left !important;
    }
    
    #groupp {
        text-align: left !important;
    }
    
    #perf {
        //float: right !important;
        text-align: right !important;
    }
    
    ion-item {
        width: 100% !important;
    }

}
