<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button></button>
    </ion-buttons>
    <ion-title>
      Feedback Summary
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page14" >
    <h4 id="feedbackSummary-heading6">
        Group <span>#</span>
    </h4>
    <div id="addfeedback">
        <button id="feedbackSummary-button42" ion-button clear color="positive" small on-click="goToGroup();">
            Add Feedback
        </button>
    </div>
    
    <div id="top" >
        <div id="latestfeedback">
            <p style="margin:0px;outline:none;">Latest Feedback:
            <br>Week <span>4</span></p>
        </div>
    </div>
    <hr>
    <div>
        <div id="lll">
            <p class="floating" id="overallp" style="color:#000000;">
            Current overall <br> performance:
            </p>
            <p class="floating" id="latestp" style="color:#000000;">
                latest performance:
                <br>
            <span id="latestperformance">{{latestperformance}}</span>
            </p>
        </div>
            <p id="performance2">
                {{overallperformance}}
            </p>
    </div>
    <hr>
    <h5 id="feedbackSummary-heading9" style="color:#000000;">
        Individual feedback forms
    </h5>
    
  <div id="feedbackSummary-container9" *ngFor="let item of weekswithinfo; let i = index">
    <ion-list id="feedbackSummary-list10">
      <ion-item-divider color="primary" id="feedbackSummary-list-item-divider2">
        W<span>{{item}}</span>
      </ion-item-divider>
      <ion-item color="none" id="feedbackSummary-list-item56" *ngFor="let student of students; let j = index" (click)="setcolour();">
          <p class="name">{{student}}</p>
        <span><button id="performance" style="background-color:{{setcolour()}}"></button></span><span>{{percentageresults[addfields()[i]][j]}}</span>
        <ion-note item-right>
            <button id="feedbackSummary-button40" ion-button clear color="positive" small>
                Edit
            </button><br>
            <button id="feedbackSummary-button41" ion-button clear color="positive" small>
                more details
            </button>  
        </ion-note>
      </ion-item>
      
    </ion-list>

  </div>
</ion-content>