page-feedback-summary {
    
    #latestfeedback {
    }
    #addfeedback {
        vertical-align:middle;
        text-align: right;
    }
    
    #feedbackSummary-button42 {
        border:solid 2px;
    }
    
    #overallp {
        float: left;
    }
    
    #latestp {
        padding-left: 20px;
    }
    
    #latestperformance {
        text-align: center; 
    }
    
    #top {
        
    }
    
    #feedbackSummary-heading6 {
        margin-bottom: 0;
        float: left;
    }
}
